@font-face {
    font-family: 'Futura';
    src: url('Assets/fonts/futura/Futura-Bold.woff2') format('woff2'), url('Assets/fonts/futura/Futura-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
:root {
    --red : #E33D3C;
    --grey : #898989;
    --pink : #FB5057;
    --lightPink : #FBDEDF;
}
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.side_bar_menus {margin: 30px 0 0-30px;color: white;font-weight: bolder;}

html,body {
    margin: 0;
    padding: 0;
}
ul,li {
    text-decoration: none;
    list-style: none;   
}

.side-bar {
    position: absolute;
    top: 0;
    display: none;
    right: -100px;
    /* margin: 5%; */
    padding: 5%;
    background-color: red;
    height: 100%;
    width: 50%;
}

/*
:::::
Banner Page
*/
.section_1 {
    background-image: url('Assets/images/banner_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
}
.section_1>.header {
    grid-area: 1/1/1/12;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly; 
    align-items: center;
}
.section_1>.header>.logo {
    grid-area: 1/1/1/6;
}
.section_1>.header>.logo>img {
    width: 30%;
}
.section_1>.header>.menus {
    grid-area: 1/6/1/12;
}
.section_1>.header>.menus>ul>li {
    float: left;
    color: white;
    font-size: 1.5em;
    margin-left: 10%;
    cursor: pointer;
    opacity: 0.5;
}
.section_1>.header>.menus>ul>li:hover {
    border-bottom: 1px solid var(--red);
    opacity: 1;
}
.section_1>.header>.mob-menu {
    display: none;
}
.section_1>.name_text {
    grid-area: 2/1/2/12;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_1>.name_text>img {
   width: 60%;
}

.section_1>.cta_btn {
    grid-area: 3/1/3/12;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
}
.section_1>.cta_btn>button {
    border: none;
    padding: .5% 3%;
    background-color: var(--red);
    border-radius: 15px;
    font-weight: bolder;
    color: white;
    font-size: 1.5em;
    margin: 1%;
}

/*
:::::
About Us
*/
.section_2 {
    background-color: white;
    padding: 5%;
    display: grid;
    grid-template-rows: auto auto;
}
.section_2>.about_us_img {
    grid-area: 1/1/1/6;
}
.section_2>.about_us_img>img {
    width: 100%;
}
.section_2>.about_us_text {
    grid-area: 1/7/1/12;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*
:::::
Motivational Words
*/
.section_4 {
    display: grid;
    grid-template-columns: auto ;
    justify-content: center;
    align-items: center;
}
.section_4>.motivatonal_text>p {
    text-align: center;
    color: var(--red);
    font-size: 40px;
    font-weight: bold;
}


/*
:::::
Testimonals
*/
.section_6 {
    display: grid;
    grid-template-rows: auto auto;   
}
.section_6>.testimonal_title {
    grid-area: 1/5/1/8;
    color: #E33D3C;
    text-align: center;
    border-bottom: 5px solid #E33D3C;
}
.section_6>.testimonal_content {
    grid-area: 2/1/2/12;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.section_6>.testimonal_content>.testimonal_content_img>img {
    width: 100%;
}
.section_6>.testimonal_content>.testimonal_content_text {
    background-color: var(--lightPink);
    padding: 2%;
    border-radius: 15px;
}
.section_6>.testimonal_content>.testimonal_content_text>p {
    color: var(--red);
    font-size: 25px;
}
.section_6>.testimonal_content>.testimonal_content_text>p>span {
    font-size: 15px;
    margin-left: 15px;
}


/* 
:::::
Gallery
*/
.section_7 {
    /* display: grid;
    grid-template-columns: auto auto; */
}
.section_7>.gallery_title {
    margin-top: 10%;
    text-align: center;
    color: var(--red);
}
.flex-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 10%;
   -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    display: none;
}

.flex-box>div>img{
    display: inline-block;
    width: 400px;
    height: 100%;
    margin: 1%;
    border-radius: 5px;
}

.arrow-icons{
    display: inline-block;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
}

a {
    display: inline-block;
    border-radius: 50%;
}

a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
    border: 0.5em solid #e74c3c;
}

a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
    border-top: 0.5em solid #000;
    border-right: 0.5em solid #000;
}

.left {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #e74c3c;
    background-color: #e74c3c;
    border-radius: 50%;
    margin-right: 1.5em;
    position: absolute;
    left: 5%;
    transform: translate(0,-40%);
}

.left:after {
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    margin-left: .9em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid white;
    border-right: 0.5em solid white;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-134deg);
}
.right {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #e74c3c;
    background-color: #e74c3c;
    border-radius: 50%;
    margin-left: 1.5em;
    position: absolute;
    right:5%;
    transform: translate(0,-40%);
    }

.right:after {
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    margin-left: 0.3em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid white;
    border-right: 0.5em solid white;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* 
:::::
Contact Us
*/
.section_8 {
    display: grid;
    grid-template-rows: auto auto;
    /* justify-content: center; */
    align-self: center;
}
.contact_title  {
    grid-area: 1/6/1/6;
    text-align: center;
    color: var(--red);
}
.contact_content {
    grid-area: 2/1/2/12;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: revert;
}
.contact_content>.left_content {
    /* grid-area: 1/1/1/6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_content>.right_content {
    /* grid-area: 1/7/1/12; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_8 h3 {
    color: var(--red);
}

/* 
:::::
footer
*/
footer {
    background-color: #0E0D0B;
    height: 20vh;
    margin-top: 10%;
    display: grid;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-size: 100%;
    grid-area: 1/1/1/12;
    font-size: 2vmax;

}
footer span {
    color: var(--red);
}

@media screen and (max-width: 900px){

    .section_1>.header {
        grid-area: 1/1/1/12;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly; 
        align-items: flex-start;
    }
    .section_1>.header>.logo {
        grid-area: 1/1/1/6;
    }
    .section_1>.header>.logo>img {
        width: 50%;
        margin-top: 15%;
    }
    .section_1>.header>.menus {
        display: none;
    }
    .section_1>.header>.mob-menu {
        grid-area: 1/6/1/12;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
        margin-top: 50%;
        /* z-index: 99; */
    }
    .section_1>.header>.mob-menu>span { 
        background-color: var(--red);
        margin: 1px;
        padding: 1px;
        width: 15px;
        height: 5px;
    }
    .section_1>.name_text>img {
        width: 90%;
    }

    
    .section_2>.about_us_img {
        grid-area: 2/1/2/12;
    }
    .section_2>.about_us_text {
        grid-area: 1/1/1/12;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

img {
    /* width: 100%; */
}  
    .contact_content {
        text-align: center;
    }

    .section_4>.motivatonal_text>p {
        text-align: center;
        color: var(--red);
        font-size: 20px;
        font-weight: bold;
    }

    .section_6>.testimonal_content {
        grid-area: 2/1/2/12;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .section_6>.testimonal_content>.testimonal_content_img>img {
        transform: translate(-23px, 10px);
    }
    .section_6>.testimonal_content>.testimonal_content_text {
        padding: 4%;
        margin: 4%;
    }
    .section_6>.testimonal_content>.testimonal_content_text>p {
        font-size: 15px;
    }

    .section_7>.gallery_title {
        margin-top: 10%;
        text-align: center;
        color: var(--red);
    }
    .flex-box{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 10%;
       -webkit-overflow-scrolling: touch;
    }
    
    ::-webkit-scrollbar {
        display: none;
    }
    
    .flex-box>div>img{
        display: inline-block;
        width: 180px;
        height: 100%;
        margin: 1%;
        border-radius: 5px;
    }
    
    .arrow-icons{
        display: inline-block;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        cursor: pointer;
    }
    
    a {
        display: inline-block;
        border-radius: 50%;
    }
    
    a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
        border: 0.5em solid #e74c3c;
    }
    
    a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
        border-top: 0.2em solid #000;
        border-right: 0.2em solid #000;
    }
    
    .left {
        display: inline-block;
        width: 2em;
        height: 2em;
        border: 0.5em solid #e74c3c;
        background-color: #e74c3c;
        border-radius: 50%;
        margin-right: 1.5em;
        position: absolute;
        left: 5%;
        transform: translate(0,-40%);
    }
    
    .left:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: .2em;
        margin-top: 0;
        margin-left: 0.2em;
        width: .5em;
        height: .5em;
        border-top: 0.2em solid white;
        border-right: 0.2em solid white;
        -moz-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-134deg);
    }
    .right {
        display: inline-block;
        width: 2em;
        height: 2em;
        border: 0.5em solid #e74c3c;
        background-color: #e74c3c;
        border-radius: 50%;
        margin-left: 1.5em;
        position: absolute;
        right:5%;
        transform: translate(0,-40%);
        }
    
    .right:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: .2em;
        margin-top: 0em;
        margin-left: 0em;
        width: .5em;
        height: .5em;
        border-top: 0.2em solid white;
        border-right: 0.2em solid white;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
}

